.vs
*.user
.vscode/
*.suo
Application/bin/
Application/obj/

Domain/bin/
Domain/obj/

Infrastructure/bin/
Infrastructure/obj/

EcommerceBackendAPI/bin/
EcommerceBackendAPI/obj/

**/bin/
**/obj/
Ecommerce Backend API/wwwroot/uploads/**
Ecommerce Backend API/appsettings.Development.json
